/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banners/banner6.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.news-block {
  text-align: center;
  padding: 0 10%;
  margin: 0 0 4%;
}

.news-header {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 2% 0;
}

.news-text {
  font-size: 1.2rem;
  padding-bottom: 4%;
}

/* images for news */
.img-box{
  position: relative;
}

.news-img {
  width: 100%;
  display: block;
  margin: 2% auto;
  border: 2px solid #000;
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
