/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banners/banner2.jpg");

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.highlights {
  box-shadow: 0 4px 8px 0 rgba(0,0.5,0,0.5);
  background-color: #ffcb31;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 5px auto;
}

#main-content a:hover {
  opacity: 50%;
  color: #000;
}
